{:paths ["src" "resources" "test"]
 :deps
 {org.clojure/clojure        {:mvn/version "1.10.3"}
  ring/ring-core             {:mvn/version "1.9.5"}
  ring/ring-json             {:mvn/version "0.5.1"}
  ring/ring-defaults         {:mvn/version "0.3.3"}
  metosin/reitit-core        {:mvn/version "0.5.17"}
  metosin/reitit-malli       {:mvn/version "0.5.17"}
  metosin/malli              {:mvn/version "0.8.4"}
  http-kit/http-kit          {:mvn/version "2.6.0-alpha1"}
  mount/mount                {:mvn/version "0.1.16"}
  hiccup/hiccup              {:mvn/version "2.0.0-alpha2"}
  org.clojure/core.incubator {:mvn/version "0.1.4"}
  jstrutz/hashids            {:mvn/version "1.0.1"}
  pandect/pandect            {:mvn/version "1.0.2"}
  github.akovantsev/blet     {:git/url "https://github.com/akovantsev/blet"
                              :sha     "2efe35f8e6ba7be81518f63fa6785d76e0ae61a4"}
  ua.kasta/i18n              {:mvn/version "1.0.13"}

  ;; logging
  io.sentry/sentry-clj           {:mvn/version "5.6.170"}
  org.slf4j/slf4j-api            {:mvn/version "1.7.36"}
  ch.qos.logback/logback-classic {:mvn/version "1.2.11"}
  org.clojure/tools.logging      {:mvn/version "1.2.4"}

  ;; db
  org.postgresql/postgresql         {:mvn/version "42.3.3"}
  com.zaxxer/HikariCP               {:mvn/version "5.0.1"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.2.772"}
  com.github.seancorfield/honeysql  {:mvn/version "2.2.868"}
  migratus/migratus                 {:mvn/version "1.3.6"}}

 :aliases
 {:dev {:extra-deps {nrepl/nrepl                              {:mvn/version "0.9.0"}
                     cider/cider-nrepl                        {:mvn/version "0.28.3"}
                     refactor-nrepl/refactor-nrepl            {:mvn/version "3.5.2"}
                     clj-commons/pomegranate                  {:mvn/version "1.2.1"}
                     com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"}
                     org.clojure/tools.namespace              {:mvn/version "1.2.0"}}
        :jvm-opts   ["-Djava.net.preferIPv4Stack=true"
                     "-Djava.net.preferIPv4Addresses=true"
                     "-Djdk.attach.allowAttachSelf"
                     "-XX:+UnlockDiagnosticVMOptions"
                     "-XX:+DebugNonSafepoints"]
        :main-opts  ["-i" "dev/user.clj"
                     "-e" "(mount/start)"
                     "-m" "nrepl.cmdline"
                     "-i"
                     "--middleware" "[\"cider.nrepl/cider-middleware\",\"refactor-nrepl.middleware/wrap-refactor\"]"]}

  :build {:deps       {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}}
          :ns-default build}

  :ancient {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
            :main-opts  ["-m" "antq.core"]}}}
