body {
  font-size: 16px;
  font-family: Roboto,Arial,Helvetica,sans-serif;
}

/* BASE */
.container {
  max-width: 900px;
  margin: 0 auto;
}

.message {
  max-width: 900px;
  font-size: 16px;
  margin: 40px auto;
}

/* END BASE */

/* HEADER */
.header {
  padding: 12px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.header nav ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;
}

.header__logout {
  margin-left: auto;
}

.header__logout a {
  color: #2B5336;
  font-size: 18px;
}

.header__logo img {
  width: 144px;
}
/* END HEADER */


/* FOOTER */
footer {
  margin-top: 40px;
  padding: 12px 0;
  border-top: 1px solid black;
}

.footer__inner {
  display: flex;
  align-items: center;
}

.footer__copy,
.footer__social {
  width: 50%;
}

.footer__copy a {
  color: #000000;
  text-decoration: underline;
}

.footer__icons {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 40px 0 0 0;
}

.footer__icons li {
  list-style: none;
}

.footer__icons img {
  width: 40px;
}

.ml5 {
  margin-left: .5rem;
}

/* END FOOTER */

/* FORM */
.subscribe {
  width: 600px;
  margin: 40px auto 0 auto;
  padding: 40px;
  background-color: rgb(250, 250, 250);
  border-radius: 2px;
}

.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.subscribe__info {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 30px;
}

.subscribe__input {
  width: 400px;
  height: 40px;
  font-size: 18px;
  border: 1px solid #2B5336;
  border-radius: 4px;
  text-indent: 16px;
}

.subscribe__button {
  width: 120px;
  height: 44px;
  font-size: 18px;
  color: rgb(250, 250, 250);
  background-color: #407C51;
  border: 1px solid #2B5336;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease, visibility 0s;
}
.subscribe__button:hover {
  background-color: #3AD19B;;
}

/* END FORM */

/* loading indicator */

[aria-busy] {
    pointer-events: none;
    opacity: 0.7;
}

@keyframes loading {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

[aria-busy]::after {
    animation: loading 500ms infinite linear;
    border: .1rem solid #e30a7b;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: .8rem;
    left: 50%;
    margin-left: -.4rem;
    margin-top: -.4rem;
    position: absolute;
    top: 50%;
    width: .8rem;
    z-index: 1;
}
