body {
  min-width: fit-content;
  max-width: 100%;
  font-size: 16px;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* BASE */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.message {
  max-width: 900px;
  font-size: 16px;
  margin: 40px auto;
}

.t-bold {
  font-weight: 600;
}

/* END BASE */

/* HEADER */
.header {
  padding: 24px 0;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-color: #FFFFFF;
}

.header__by {
  font-size: 14px;
  margin-left: 80px;
}

.header__by span:first-child {
  display: block;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  font-size: 22px;
  letter-spacing: -2px;
}

.header__by a {
  color: #000000;
}

.header__contacts {
  font-size: 15px;
  line-height: 20px;
  margin-left: auto;
}

.header__contacts-wrap {
  display: grid;
  grid-template-columns: auto 180px;
  gap: 4px 8px;
}

.header__contacts-wrap span:first-child {
  text-align: right;
}

.header nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;
}

.header__logout {
  margin-left: auto;
}

.header__logout-btn {
  display: block;
  width: 138px;
  line-height: 48px;
  font-size: 18px;
  color: #38B586;
  text-align: center;
  background: rgba(56, 181, 134, 0.2);
  border-radius: 24px;
  text-decoration: none;
}

.header__logout-btn:hover {
  background: #43D09C;
  color: #417553;
}

.header__select-lang {
  display: block;
  width: 138px;
  margin: 20px 0 0 0;
  text-align: center;
}

.header__lang-item {
  font-size: 16px;
  color: #000000;
}

.header__logo img {
  width: 144px;
}
/* END HEADER */


/* FOOTER */
footer {
  padding: 80px 0;
  border-top: 1px solid black;
  background-color: #FFFFFF;
}

.footer__inner {
  display: flex;
  align-items: center;
}

.footer__copy,
.footer__social {
  width: 50%;
}

.footer__logo {
  display: block;
  margin-bottom: 40px;
}

.footer__logo img {
  width: 144px;
}

.footer__copy a {
  color: #000000;
  text-decoration: underline;
}

.footer__icons {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 40px 0 0 0;
}

.footer__icons li {
  list-style: none;
}

.footer__icons img {
  width: 40px;
}

/* END FOOTER */

/* FORM */
.subscribe {
  width: 100%;
  display: grid;
  grid-template-columns: auto 375px;
}

.subscribe__main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.subscribe__side {
  height: 505px;
  background: url("./img/46dc18_ff364cd22d9f48b08bce1200675890a6_mv2.jpg");
}

.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.subscribe__label {
  display: block;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 64px;
}

.subscribe__input {
  font-size: 18px;
  text-indent: 16px;
  width: 344px;
  height: 48px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  border: none;
}

.subscribe__button {
  height: 48px;
  line-height: 48px;
  padding: 0 44px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background-color: #38B586;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.2s ease, visibility 0s;
}

.subscribe__button:hover {
  background: #43D09C;
  color: #417553;
}

.subscribe__sent {
  font-size: 36px;
  text-align: center;
}

.subscribe__message {
  padding: 24px;
  font-size: 18px;
  background: rgba(56, 181, 134, 0.08);
  border-radius: 16px;
  margin-top: 64px;
}

.support-us {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background-color: #000000;
}
.support-us h2 {
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
}

/* END FORM */

/* payments */

.payment-section {
  margin: 20px 0;
}

.payment-section h2 {
  font-size: 36px;
  line-height: 50px;
  padding: 0;
  margin: 0 0 48px 0;
}

.payment-section__message {
  padding: 24px;
  font-size: 16px;
  background: rgba(56, 181, 134, 0.08);
  border-radius: 16px;
  margin-top: 48px;
  text-align: center;
}

.payments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.payments__item {
  background: #FFFFFF;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.02);
  border-radius: 16px;
}

.payments__item-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 370px;
}

.payments__item-icon {
  width: 82px;
  height: 82px;
  background: url("./img/500.svg") no-repeat center center;
}

.payments .payments__item:first-child .payments__item-icon {
  background-image: url("./img/100.svg");
}

.payments .payments__item:nth-child(2) .payments__item-icon {
  background-image: url("./img/200.svg");
}

.payments .payments__item-icon.no-amount {
  background: url("./img/more.svg") no-repeat center center !important;
}

.payments__item-amount {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  margin: 32px 0 16px 0;
  padding: 0;
  letter-spacing: -1px;
}

.payments__item-interval {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

.payments__item-btn {
  margin: 24px;
  display: block;
  padding: 0 40px;
  line-height: 48px;
  font-size: 18px;
  color: #ffffff;
  background: #38B586;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}
.payments__item-btn:hover {
  background: #43D09C;
  color: #417553;
}

.payments__item-input {
  width: 234px;
  line-height: 48px;
  border: none;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  margin: 32px 0 16px 0;
  text-indent: 16px;
  font-size: 16px;
}

/* END payments */


/* loading indicator */

[aria-busy] {
    pointer-events: none;
    opacity: 0.7;
}

@keyframes loading {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

[aria-busy]::after {
    animation: loading 500ms infinite linear;
    border: .1rem solid #e30a7b;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: .8rem;
    left: 50%;
    margin-left: -.4rem;
    margin-top: -.4rem;
    position: absolute;
    top: 50%;
    width: .8rem;
    z-index: 1;
}



/* MOBILE */

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .header nav ul {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }
  .header__logout {
    order: 2;
  }
  .header__by {
    margin-left: 0;
    order: 3;
  }
 }

 .payments {
  grid-template-columns: 1fr 1fr;
 }

 .footer__inner {
   flex-direction: column;
 }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .header__contacts {
    display: none;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .header, 
  main, 
  footer {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }
 }

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }