body {
  font-size: 16px;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  background-color: #fafafa;
}

/* BASE */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.message {
  max-width: 900px;
  font-size: 16px;
  margin: 40px auto;
}

/* END BASE */

/* HEADER */
.header {
  padding: 24px 0;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-color: #FFFFFF;
}

.header__by {
  font-size: 14px;
  margin-left: 80px;
}

.header__by span:first-child {
  display: block;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  font-size: 22px;
  letter-spacing: -2px;
}

.header__by a {
  color: #000000;
}

.header__contacts {
  font-size: 15px;
  line-height: 20px;
  margin-left: auto;
}

.header__contacts-wrap {
  display: grid;
  grid-template-columns: auto 180px;
  gap: 4px 8px;
}

.header__contacts-wrap span:first-child {
  text-align: right;
}

.header nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;
}

.header__logout {
  margin-left: auto;
}

.header__logout-btn {
  display: block;
  width: 138px;
  line-height: 48px;
  font-size: 18px;
  color: #38B586;
  text-align: center;
  background: rgba(56, 181, 134, 0.2);
  border-radius: 24px;
  text-decoration: none;
}

.header__logout-btn:hover {
  background: #43D09C;
  color: #417553;
}

.header__select-lang {
  display: block;
  width: 138px;
  margin: 20px 0 0 0;
  text-align: center;
}

.header__lang-item {
  font-size: 16px;
  color: #000000;
}

.header__logo img {
  width: 144px;
}
/* END HEADER */


/* FOOTER */
footer {
  padding: 80px 0;
  border-top: 1px solid black;
  background-color: #FFFFFF;
}

.footer__inner {
  display: flex;
  align-items: center;
}

.footer__copy,
.footer__social {
  width: 50%;
}

.footer__logo {
  display: block;
  margin-bottom: 40px;
}

.footer__logo img {
  width: 144px;
}

.footer__copy a {
  color: #000000;
  text-decoration: underline;
}

.footer__icons {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 40px 0 0 0;
}

.footer__icons li {
  list-style: none;
}

.footer__icons img {
  width: 40px;
}

/* END FOOTER */

/* FORM */
.subscribe {
  width: 100%;
  display: grid;
  grid-template-columns: auto 375px;
}

.subscribe__main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.subscribe__side {
  height: 505px;
  background: url("./img/46dc18_ff364cd22d9f48b08bce1200675890a6_mv2.jpg");
}

.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.subscribe__label {
  display: block;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 64px;
}

.subscribe__input {
  font-size: 18px;
  text-indent: 16px;
  width: 344px;
  height: 48px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  border: none;
}

.subscribe__button {
  height: 48px;
  line-height: 48px;
  padding: 0 44px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background-color: #38B586;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.2s ease, visibility 0s;
}

.subscribe__button:hover {
  background: #43D09C;
  color: #417553;
}

.subscribe__sent {
  font-size: 36px;
  text-align: center;
}

.subscribe__message {
  padding: 24px;
  font-size: 18px;
  background: rgba(56, 181, 134, 0.08);
  border-radius: 16px;
  margin-top: 64px;
}

.support-us {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background-color: #000000;
}
.support-us h2 {
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
}

/* END FORM */

/* loading indicator */

[aria-busy] {
    pointer-events: none;
    opacity: 0.7;
}

@keyframes loading {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

[aria-busy]::after {
    animation: loading 500ms infinite linear;
    border: .1rem solid #e30a7b;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: .8rem;
    left: 50%;
    margin-left: -.4rem;
    margin-top: -.4rem;
    position: absolute;
    top: 50%;
    width: .8rem;
    z-index: 1;
}
